@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-border: var(--border);
  --color-foreground: var(--foreground);
  --color-text-muted: var(--text-muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

:root { /* Light Mode (Studio White Base) */
  --background: #FFFFFF; 
  --surface: #F4F4F5; 
  --surface-hover: #E4E4E7;
  --border: #E5E7EB;
  
  --foreground: #000000; 
  --text-muted: #52525B; 
  
  --primary: #000000; 
  --primary-foreground: #FFFFFF;
  --secondary: #18181B; 
  
  --success: #059669;
  --warning: #D97706; 
  --danger: #DC2626;
}

.dark { /* Dark Mode (Pitch Black Base) */
  --background: #000000; 
  --surface: #111111; 
  --surface-hover: #222222;
  --border: #27272A; /* Crisp razor thin border */
  
  --foreground: #FFFFFF; 
  --text-muted: #A1A1AA; 
  
  --primary: #FFFFFF; 
  --primary-foreground: #000000;
  --secondary: #27272A; 
  
  --success: #10B981;
  --warning: #F59E0B; 
  --danger: #EF4444; 
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
